.mySlides {
    _display: none;
    position: absolute;
    display:none;
    font-family: 'Varela Round', sans-serif;
    line-height: 0.5;
    font-size: {{fontSize}}px;
    color:{{fontColor}};
}
.icon {
    text-decoration: none;
    float: left;
}
.username{
    float:left;
    padding-left: 5px;
  	text-shadow: 3px 1px 3px #333333;
}