.mySlides {
    _display: none;
    position: absolute;
    display:none;
    font-weight: {{fontWeight}};
  	line-height: {{lineHeight}};
    font-family: '{{fontName}}';
    font-size:{{fontSize}}px;
    color:{{fontColor}};
}
.username{
    padding-left: 5px;
  text-shadow: {shadowX}px {shadowY}px {shadowBlur}px {{shadowColor}};
}
